#VIm
*.swp

#Eclipse
.project
.cproject
.DS_Store

#Visual Studio
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.filters

#Binaries
*.o
*.exe
objput
objget
objlist
objsetacl
objgetacl
objtestacl
tester

#Libraries
include
lib
share
tclap
gtest

#Test Data
data
